.aboutUni {
    padding-bottom: 8rem;
    &__desc {
        display: grid;
        justify-content: center;
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 36px;
            line-height: 120%;
            color: #0D2147;
        }
        p {
            font-weight: 500;
            line-height: 120%;
            color: rgba(13, 33, 71, 0.6);
        }
    }

    &__content {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
    }
    &__item {
        padding: 3rem;
        width: 370px;
        height: 420px;
        background: #FFFFFF;
        box-shadow: 2px 2px 15px rgba(9, 52, 203, 0.1);
        border-radius: 5px;
        &-img {
            display: flex;
            justify-content: center;
        }
        &-desc {
            text-align: center;
            h3 {
                margin-top: 1rem;
                margin-bottom: 2rem;
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
                color: #1771F1;
            }
            p {
                line-height: 120%;
                text-align: center;
                color: #0D2147;
            }
        }
    }
}