.about {
    &-main__title {
        margin-top: 5rem;
        margin-left: 3rem;
        h1 {
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #0D2147;
        }
    }

    &-miss {
        margin-bottom: 3rem;
    }
    &-miss__title {
        display: flex;
        justify-content: center;
        h2 {
            padding-bottom: 0.2rem;
            text-align: center;
            font-size: 36px;
            line-height: 120%;
            color: #0D2147;
            border-bottom: 2px solid #1771F1;
        }
    }
    &-miss__text {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        p {
            font-size: 24px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.005em;
            color: rgba(13, 33, 71, 0.75);
        }
    }

    &-value {
        &__content {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1rem;
        }
        &__wrapper {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }
        &__item {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            background: #FFFFFF;
            text-align: center;
            box-shadow: 2px 2px 15px rgba(9, 52, 203, 0.07);
            border-radius: 10px;
            p {
                color: rgba(13, 33, 71, 0.8);
            }
            &:last-child {
                width: 376px;
            }
        }
    }

    &-goal {
        &__content {
            margin-top: 10rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 2rem;
        }
        &__item {
            padding: 2rem;
            display: grid;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 330px;
            background: #1771F1;
            border-radius: 0px 75px 75px 75px;
            &-span {
                span {
                    font-size: 90px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
            }
            &-text {
                p {
                    font-size: 28px;
                    line-height: 120%;
                    letter-spacing: 0.005em;
                    color: #FFFFFF;
                }
            }
            &:nth-child(even) {
                margin-top: -5rem;
            }
            &:nth-child(2) {
                border-radius: 75px 75px 0px 75px;
            }
            &:nth-child(4) {
                border-radius: 75px 75px 0px 75px;
            }
        }
    }

    &-tar {
        &__content {
            margin-top: 5rem;
        }
        &__item {
            margin-bottom: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-desc {
                h2 {
                    width: 470px;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 120%;
                    letter-spacing: 0.005em;
                    color: #0D2147;
                }
                p {
                    width: 300px;
                    padding-top: 1rem;
                    font-weight: 400;
                    line-height: 120%;
                    color: rgba(13, 33, 71, 0.65);
                }
            }
        }
    }
}