.header {
    padding: 2rem 0;
    background: $maincolor;
    @media screen and (max-width: $phoneWidth) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: .5rem 0;
        z-index: 1000000;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        img {
            width: 240px;
            @media screen and (max-width: $phoneWidth) {
               width: 100px;
            }
        }
    }
    &-contacts {
        @media screen and (max-width: $phoneWidth) {
            display: grid;
        }
        a {
            padding: 0.4rem 1rem;
            border-radius: 25px;
            color: #000;
            background: #fff;
            @media screen and (max-width: $phoneWidth) {
                display: flex;
                margin-bottom: 1rem;
                justify-content: center;
                font-size: 16px;
            }
        }
    }
}