.main {
    &-content {
        display: grid;
        margin-top: 8em;
        align-items: center;
        justify-content: center;
    }
    &-item {
        position: relative;
        display: grid;
        margin-bottom: 8em;
        justify-content: center;
        h1 {
            font-weight: bold;
            font-size: 64px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.003em;
            color: #fff;
        }
        a {
            padding: .6em 1.5em;
            margin: 0 auto;
            margin-bottom: 2em;
            text-align: center;
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            color: #1771F1;
            background: #FFFFFF;
            box-shadow: 5px 7px 45px rgba(255, 255, 255, 0.25);
            border-radius: 10px;

            &:nth-child(2) {
                background: rgba(255, 255, 255, 0.19);
                backdrop-filter: blur(65px);
                border-radius: 10px;
                color: #fff;
            }
        }
    }
    &-img {
        position: relative;
        top: -13rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &-svg-1 {
        position: absolute;
        top: 1rem;
        left: -7rem;
    }

    &-svg-2 {
        position: absolute;
        top: 12rem;
        right: -7rem;
    }

    &-svg-3 {
        position: absolute;
        bottom: 7rem;
    }
}