.header {
    padding-top: 0.5rem;
    background: linear-gradient(100.77deg, #ED1941 0%, #FF007A 100%);
    &__container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    &__links {
        color: #fff;
    }
    &__content {
        padding: 1rem 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        li {
            margin-left: 1.3em;
            a {
                font-size: 14px;
                font-weight: bold;
            }
        }
        &__phone {
            display: flex;
            color: #fff;
            img {
                padding-right: 0.4rem;
            }
        }
        &__mail {
            display: flex;
            color: #fff;
            img {
                padding-right: 0.4rem;
            }
        }
        &__in {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1.3rem;
            border-radius: 5px;
            background: #FFDE17;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            color: #000;
            img {
                padding-right: 0.6rem;
            }
        }
    }
    &__language {
        margin-left: 2rem;
        a, span {
            color: #fff;
        }
    }
}


.main {
    background: url(../img/main-bg.png) no-repeat;
    &__content {
        display: grid;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    &__item {
        &:nth-child(1) {
            padding-right: 3.8rem;
        }
        &__title {
            h1 {
                font-style: normal;
                font-weight: 900;
                font-size: 55px;
                line-height: 67px;
                color: #FFFFFF;
            }
        }
        &__list {
            align-items: center;
            margin: 2rem 0;
            img {
                padding-right: 0.8rem;
            }
            h2 {
                color: #fff;
            }
        }
    }
    &__list {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }
    &__btn {
        margin-top: 3rem;
        a {
            padding: 1rem 2rem;
            background: #FFDE17;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}


.profit {
    padding-bottom: 5rem;
    border-bottom: 1px solid #EDF1F4;
    &__content {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    &__item {
        &__title {
            h2 {
                font-weight: bold;
                font-size: 30px;
                line-height: 45px;
                color: #000000;
            }
        }
        &__list {
            width: 480px;
            display: flex;
            margin-top: 2rem;
            margin-bottom: 1rem;
            align-items: center;
            &__text {
                padding-left: 1.5rem;
                h3 {
                    padding-bottom: 0.6rem;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #000000;
                }
                p {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    color: #000000;
                }
            }
        }
    }
    &__btn {
        width: 480px;
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        a {
            padding: 1rem 2rem;
            background: #FFDE17;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}


.how {
    margin-top: 3rem;
    margin-bottom: 6rem;
    &__title {
        h2 {
            font-weight: bold;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
        }
    }
    &__content {
        display: flex;
        margin-top: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        &__title {
            padding-left: 1rem;
            h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
            }
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
        a {
            padding: 1rem 2rem;
            background: #FFDE17;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}

.footer {
    background: linear-gradient(100.77deg, #ED1941 0%, #FF007A 100%);
    &__content {
        display: grid;
        padding: 5rem 0;
        grid-template-columns: repeat(4, 1fr);
    }
    &__item {
        &__title {
            padding-bottom: 1rem;
            h3 {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }
        &__list {
            ul {
                li {
                    margin-bottom: 0.7rem;
                    a {
                        margin-bottom: 1.5rem;
                        font-weight: 800;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;
                    }
                    p {
                        margin-bottom: 1.5rem;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        &__social {
            display: flex;
            align-items: center;
            a {
                &:not(:first-child) {
                    margin-left: 1.4rem;
                }
            }
        }
    }
}

.rewenie {
    height: 100vh;
    &__desc {
        padding: 1rem 0;
        h2 {
            font-weight: 900;
            font-size: 35px;
            line-height: 45px;
            text-align: center;
            color: #FFFFFF;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__loader {
        display: flex;
        padding: 2rem 0;
        justify-content: center;
        svg {
            width: 285px;
            height: 285px;
        }
    }
}

.success {
    &__desc {
        padding: 2rem 0;
        h2 {
            padding-bottom: 1rem;
            font-weight: 900;
            font-size: 35px;
            line-height: 45px;
            text-align: center;
            color: #FFFFFF;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        a {
            padding: 1rem 2rem;
            background: #FFDE17;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}

.ident {
    height: 100vh;
    &__wrapper {
        width: 550px;
        padding: 1rem 7rem;
        margin: 0 auto;
        background: #FFFFFF;
        border-radius: 10px;
    }
    &__item {
        display: flex;
        justify-content: center;
        h3 {
            padding-bottom: 1rem;
        }
        p {
            padding-top: 2rem;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #000000;
        }
        &__face {
            width: 100%;
            height: 350px;
            padding-top: 2rem;
            background: #E7E7E7;
            border-radius: 10px;
        }
    }
}