.quan {
    background: url(../img/main-bg.png) no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
    &__content {
        display: grid;
        margin-top: 2rem;
        justify-content: center;
    }
    &__item {
        width: 800px;
        padding: 1rem;
        margin-top: 1rem;
        border: 1px solid #EDF1F4;
        border-radius: 15px;
    }
    &__qu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        h2 {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }
    }
    &__an {
        padding-top: 0.7rem;
        p {
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
        }
    }
}