.main-input {
    width: 330px;
    padding: 1rem;
    background: #E7ECF2;
    border-radius: 5px;
}

::placeholder {
   font-weight: 500;
   font-size: 18px;
   line-height: 20px;
   color: #000000;
}

.reg {
    height: 100vh;
    background: url(../img/main-bg.png) no-repeat;
    background-size: cover;
    &-form-wrapper {
        height: 100vh;
    }
    &__radio {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
    &__wrapper {
        padding: 3rem 4rem;
        background: #FFFFFF;
        border-radius: 10px;
    }
    &__title {
        margin-bottom: 2rem;
        h2 {
            margin-bottom: 0.5rem;
            padding-bottom: 1rem;
            font-weight: 900;
            font-size: 35px;
            line-height: 45px;
            color: #FFFFFF;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        &__form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .reg__item {
                margin-bottom: 1rem;
            }
        }
    }
    &__content-2 {
        display: flex;
        justify-content: space-between;
    }
    &__content-3 {
        display: flex;
        gap: 1rem;
    }
    &__item-2 {
        display: grid;
        a {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
        }
    }
    &__item {
        &__label {
            display: flex;
            gap: 0.5rem;
        }
        &__checkbox {
            display: flex;
            align-items: baseline;
            gap: 0.5rem;
            p {
                font-weight: normal;
                font-size: 13px;
                line-height: 22px;
            }
        }
        &__btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
            a {
                padding: 1rem 2rem;
                background: #FFDE17;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
                text-align: center;
            }
        }
        &__btn-2 {
            display: flex;
            justify-content: flex-end;
            a {
                width: 330px;
                padding: 1rem 2rem;
                background: #FFDE17;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
                text-align: center;
            }
        }
        &__btn-3 {
            display: flex;
            a {
                width: 330px;
                padding: 1rem 2rem;
                background: #FFDE17;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
                text-align: center;
            }
        }
    }
    &__bid {
        &__prob {
            display: flex;
            justify-content: space-between;
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #01D06D;
                span {
                    font-size: 20px;
                }
            }
        }
        &__lines {
            display: flex;
            justify-content: space-between;
            grid-gap: 0.5rem;
            padding: 0.5rem 0;
        }
        &__steps {
            padding-bottom: 1rem;
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #B5B5B5;
            }
        }
        &__title {
            display: flex;
            gap: 0.5rem;
            padding: 1rem 0;
            h3 {
                font-weight: bold;
                font-size: 23px;
                line-height: 27px;
                color: #000000;
            }
            p {
                padding: 0.3rem 0.5rem;
                background: linear-gradient(135deg, #01D06D 0%, #00C2FF 100%);
                border-radius: 5px;
                font-weight: 900;
                font-size: 13px;
                line-height: 15px;
                color: #FFFFFF;
            }
        }
        &__text {
            p {
                margin-top: -0.3rem;
                margin-bottom: 0.5rem;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }
        &__btns {
            display: flex;
            margin-top: 2rem;
            margin-right: 1.2rem;
            gap: 2rem;
            justify-content: flex-end;
            align-items: center;
            &__back {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #000000;
            }
            &__next {
                padding: 1rem 6.5rem;
                background: #FFDE17;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
            }
        }
    }
}

.bid-lines {
    width: 270px;
    height: 3px;
    background: #eee;
    &-yellow {
        background: #FFDE17;
    }
    &-green {
        background: linear-gradient(135deg, #01D06D 0%, #00C2FF 100%);
    }
}