@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria/Geometria-Bold.woff');
	font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/geometria/Poppins-bold.woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/geometria/Poppins-SemiBold.woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/geometria/Poppins-Medium.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/geometria/Poppins-regular.woff');
  font-style: normal;
  font-weight: 400;
}