@import 'fonts';

// Font
$mainFont                : 'Poppins';
$secondFont              : 'Geometria';

$maincolor: #f0f0f0;
$secondcolor: #0e7dc7;

// Size
$mainFontColor           : #2F281E;
$mainFontSize            : 18px;   
$titleFontSize           : 34px;   
$mainTitleFontSize       : 54px;
$RegularFontWeight       : 400;
$mainLineHeight          : 1.4;

$mainTitleLineHeight     : 56px;
$mainTextLineHeight      : 26px;
$mainFontWeight          : 700;

$minTextSize             : 16px;

$desktopWidth            : 1200px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$title-color             : #2F281E;
$text-color              : #544837;
$main-bg-color           : #FF9900;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
